<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']">Home</a>
      <a mat-list-item [routerLink]="[ '/pontos-de-apoio' ]">Pontos de apoio</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>farmacia-tp</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-toolbar color="primary">
  <span>
    Farmacia - TP
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/home">Home</button>
  <button *ngIf="auth.isAuthenticated()" mat-button routerLink="/pontos-de-apoio">Pontos de Apoio</button>
  <div *ngIf="auth.isAuthenticated() && this.profile != undefined">
    <mat-menu #appMenu="matMenu" class="menuList">
        <mat-card>
            <p>Name: {{this.profile.name}}</p>
            <p>UserName: {{this.profile.nickname}}</p>
            <button *ngIf="auth.isAuthenticated()" mat-button (click)="auth.logout()">Logout</button>
        </mat-card>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <img class="circle" style="margin-top:8px" src="{{ this.profile.picture }}">
    </button>
  </div>
  <button *ngIf="!auth.isAuthenticated()" mat-button (click)="auth.login()">Login</button>
</mat-toolbar>
<router-outlet></router-outlet>