.textCard {
    background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg");
    opacity: 0.5;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.textCardContent {
    color: black;
    font-size: 50px;
}

.buscaCard {
    background-color: rgba(153, 205, 50, 0.445);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.carrosselCard {
    background-color: rgb(0, 0, 0);
    width: calc(100% - 50px);
    height: calc(100%-50px);
}

mat-grid-list {
    margin-left: 5%;
    margin-right: 5%;
}

.buscaField {
    width: 80%;
    margin-left: 10%;
}

.buscaButton {
    background-color: blueviolet;
}

