.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

angular-logo {
  margin: 0 4px 3px 0;
  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
flex: 1 1 auto;
}

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.menuList{
  position: absolute;
  right: -100px;
  left: -100px;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}