<div class="list-container">
  <mat-card>
    <mat-card-header>
      <mat-toolbar color="accent">
        <span>
          Pontos de Apoio Menu
        </span>
        <span class="fill-remaining-space"></span>
        <button mat-button routerLink="/pontos-de-apoio/listar">Listar</button>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <ng2-smart-table [settings]="settings" [source]="data" (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
        
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <button mat-button (click)="togglePDAForm()">Abrir formulario</button>
        <div *ngIf="showForm">
            <app-pontos-de-apoio-form></app-pontos-de-apoio-form>
        </div>
    </mat-card-content>
    
  </mat-card>
</div>
