<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Criar ponto de apoio
    </mat-panel-title>
    <mat-panel-description>
      Formulário
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form fxFlex [formGroup]="pdaForm" (ngSubmit)="submitPDA()" fxLayoutGap="10px" >

    <mat-form-field *ngFor="let e of this.formFields">
      <mat-label>{{e.valueOf()}}</mat-label>
      <input matInput placeholder="{{e.valueOf()}}" formControlName="{{e.valueOf().toLowerCase().trim()}}">
    </mat-form-field>
 
   <div>
     <button mat-raised-button type="submit" [disabled]="nome.invalid"> submit </button>
   </div>
 </form>
</mat-expansion-panel>